.table {
    margin-top: 20px;
    overflow: scroll;
    height: 480px;
    color:rgb(136, 136, 136);
    
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5em;
}

.table tr:nth-of-type(odd) {
    background-color: whitesmoke;
}